.btn {
  display: block;
  padding: 9px 46px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;

  color: $color-tangaroa;

  background-color: $color-alice-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
