.footer {
  padding: 50px 0;
  background-color: $color-tangaroa;

  @include vp-767 {
    padding: 40px 0;
  }
}

.footer__wrapper {
  display: flex;
  align-items: center;
  color: $color-alice-blue;

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer__logotype-img {
  display: block;
  margin-right: 40px;

  @include vp-1023 {
    margin-right: 25px;
  }

  @include vp-767 {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.footer__navigation {
  @include vp-1023 {
    align-self: flex-start;
    margin-right: 12px;
  }

  @include vp-767 {
    margin-right: 0;
  }
}

.footer__navigation-list {
  @include vp-1023 {
    min-width: 460px;
    align-self: flex-start;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
    min-width: 300px;
  }
}

.footer__navigation-item {
  color: $color-alice-blue;

  @include vp-1023 {
    font-size: 12px;
    line-height: 15px;
  }

  @include vp-767 {
    color: $color-alice-blue;
    font-size: 12px;
    line-height: 15px;
  }
}

.footer__navigation-link {
  @include vp-767 {
    padding: 8px 0;
  }
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  min-width: 110px;
  align-self: flex-start;
  padding: 0;
  margin: 0;
  margin-top: 6px;
  margin-left: auto;

  @include vp-1023 {
    min-width: 100px;
  }

  @include vp-767 {
    margin-left: 0;
  }
}

.footer__social-item {
  margin: 2px 0;
  margin-right: 20px;
  transition: $trans-default opacity;

  @include hover-focus {
    opacity: 0.8;
  }

  &:active .footer__social-link {
    opacity: 0.6;
  }

  &:last-child {
    margin-right: 0;
  }

  @include vp-1023 {
    margin: 2px 0;
    margin-right: 18px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.footer__social-link {
  display: block;
  padding: 3px;

  @include vp-1023 {
    padding: 2px;
  }
}

.footer__social-img {
  display: block;

  @include vp-1023 {
    width: 16px;
    height: 16px;
  }
}

.footer__social-img--ok {
  @include vp-1023 {
    width: 9px;
  }
}
